/* ====== ALARMS ======= */
.alarms{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.alarm {
    position: relative;
}

.alarm .loader {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.alarm-loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(7px);
}

ul.alarms > li {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
}

ul.alarms > li > div:first-child {
    border: thin solid #777578;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    column-gap: 1.3rem;
    transition: border .1s linear;
    align-items: stretch;
}


.alarm.alarm-enabled > div:first-child  {
    border-color: #79747E;
}

.alarm .dowtime{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 1.5rem;
    cursor: pointer;

}

.alarm .enable-switch {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
}

.alarm .time{
    font-size: 16px;
    font-weight: 600;
    color: #777578;
}

.alarm .dowtime{
    color: #777578;
}

.alarm-enabled .dowtime {
    color: #1C1B1E;
}

#add-alarm > div{
    padding: 2rem 0;
    cursor: pointer;
}

/* =========== TOGGLE SWITCH ========*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeaed;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: -2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}

input:checked + .slider {
    background-color: #eaddff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #6750A4;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ============= ADD/EDIT ALARM CONTEXT FORM ===============*/
ol.dows{
    display: flex;
    column-gap: .7rem;
}

ol.dows input{
    display: none;
}

ol.dows label{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline: thin solid #CAC4D0;
    border-radius: 100%;
    color: #CAC4D0;
    cursor: pointer;
}

ol.dows input[type="checkbox"]:checked + label{
    color: blue;
    outline-color: blue;
}


.context-card .input-title{
    color: #474747;
}

.context-card .dows-container{
    margin-top: 1.3rem;
}

.context-card ol.dows{
    margin-top: .7rem;
}

button{
    border: none;
    cursor: pointer;
}

.context-card button[type="submit"]{
    background-color: #6750A4;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    transition: opacity .1s linear;
    margin-top: 1.3rem;
}


.context-card button[type="submit"]:hover{
    opacity: .8;
}

/* ============= RESPONSIVITY ===============*/
@media screen and (max-width: 800px) {
    ul.alarms > li {
        flex-basis: 100%;
    }
}
