/* ====== BASE CONTENT & NAV ======= */
#nav.hidden {
    display: none;
}

#content{
    max-width: 1200px;
    margin: 0 auto;
}

#nav{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F3EDF7;
    padding: 1rem 0;
    /*width: 100%;*/
    box-sizing: border-box;
}

#nav{
    display: flex;
    justify-content: center;
}


#nav .nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 9rem;
}


#nav .nav-item > a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 7px;
}

#nav .nav-item > a::before {
    display: flex;
    flex-basis: 40px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

#nav .nav-item-active > a::before {
    background: #E8DEF8;
    border-radius: 22px;
}

#menu-datetime > a::before {
    content: url('../../icons/ic_datetime.png');
}

#menu-datetime.nav-item-active > a::before {
    content: url('../../icons/ic_datetime_active.png');
}

#menu-timer > a::before {
    content: url('../../icons/ic_datetime.png');
}

#menu-timer.nav-item-active > a::before {
    content: url('../../icons/ic_datetime_active.png');
}

#menu-stopwatch > a::before {
    content: url('../../icons/ic_datetime.png');
}

#menu-stopwatch.nav-item-active > a::before {
    content: url('../../icons/ic_datetime_active.png');
}

#menu-alarms > a::before {
    content: url('../../icons/ic_alarms.png');
}

#menu-alarms.nav-item-active > a::before {
    content: url('../../icons/ic_alarms_active.png');
}

.nav-item a{
    color: #49454F;
    font-size: 13px;
}

.nav-item-active a{
    font-weight: bold;
}

/* ============= RESPONSIVITY ===============*/
@media screen and (max-width: 800px) {
    #bottom-nav {
        width: 100%;
        margin: 0 2rem;
    }

    #nav .nav ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0;
    }

}