.time {
    text-align: center;
}

.stopwatch {
    display: flex;
    gap: 10rem;
}

.controls {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}


.control-btn {
    padding: 1rem 1.5rem;
    background-color: #49454F;
    color: #fff;
    font-weight: bold;
}

.control-btn:hover{
    background-color: #565656;
}

.control-btn.control-btn-outline {
    outline: thin solid #49454F;
    background: #fff;
    color: #49454F;
}
.control-btn.control-btn-outline:hover {
    outline: thin solid #565656;
}