.scan-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.scan-container button {
    padding: 2rem;
    background: #262626;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
}

.scan-container button:disabled {
    cursor: default;
    background: #565656;
}

.scan-container button:not(:disabled):hover {
    background: #565656;
}
