/* =========== OVERLAY CONTEXT ========*/
.context{
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 13;
}

.hidden{
    display: none;
}

.blur-overlay{
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(7px);
}

.context-card{
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
}

.context-card form input{
    border: none;
    outline: thin solid #8b8b8b;
    border-radius: 12px;
    padding: 7px 13px;
}

.context-btns {
    display: flex;
    gap: .5rem;
    margin-top: 2rem;
    justify-content: space-between;
}

.context-btn {
    padding: 1rem;
    font-weight: bold;
    transition: opacity .3s;
}

.context-btn:hover {
    opacity: .7;
}

.context-close-btn {
    background-color: #79747E;
    color: #fff;
}

.context-submit-btn {
    background: #2a8f27;
    color: #fff;
}

.context .time-picker {
    display: flex;
    flex-direction: column;
}

.context .time-picker label {
    font-size: .9rem;
    padding-bottom: .5rem;
    font-weight: bold;
}

/* ============= RESPONSIVITY ===============*/
@media screen and (max-width: 800px) {
    .context-card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
    }
}
