
.number-picker {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-weight: bold;
}

.number-picker-item {
    display: flex;
    flex-direction: column;
}

.number-picker-item input {
    padding: 1rem;
}

.number-picker-item label {
    font-size: .8rem;
    color: #1C1B1E;
}